{% extends 'base.html.twig' %}

{% block title %}Edit Subcategory{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <h1 class="card-title text-center mb-4">Edit Subcategory</h1>
                        {{ include('sub_category/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>

                    {# The footer now uses a horizontal rule for separation, like the reference image #}
                    <hr class="my-0">

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            {# Style the link as a light button #}
                            <a href="{{ path('app_subCategory_index') }}" class="btn btn-light">Back to list</a>

                            {# The delete form is included here, and will now have the red button #}
                            {{ include('sub_category/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
