<footer class="py-2 mt-auto bg-light">
    <div class="container text-center">
        <span class="text-muted fw-bold">Copyright © {{ "now"|date("Y") }} Amine Shop. All Rights Reserved.</span>
    </div>
</footer>
